@model RegistrationAndLogin.Models.Carrinho
<link href="~/Content/PagRev.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Delete";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {

    }
}
<h2>Deletar do Carrinho</h2>
<h3>Tem certeza que deseja excluir?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VooID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VooID)
        </dd>

        <dt>
            Data Ida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataIda)
        </dd>

        <dt>
            Data Volta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVolta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            Hotel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
