@model IEnumerable<RegistrationAndLogin.Models.Carrinho>

@{
    ViewBag.Title = "AddCarrinho";
}

<h2>AddCarrinho</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PacoteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VooID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataIda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVolta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PacoteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VooID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataIda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVolta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "DetailsCarrinho", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
