@model RegistrationAndLogin.Models.Carrinho

@{
    ViewBag.Title = "DetailsCarrinho";
}

<h2>DetailsCarrinho</h2>

<div>
    <h4>Carrinho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PacoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacote.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VooID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VooID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataIda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataIda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataVolta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataVolta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
