@model IEnumerable<RegistrationAndLogin.Models.Pacote>
<link href="~/Content/StylePag.css" type="text/css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {

    }
}
<h2>Pacotes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>

            <td>
                @Html.ActionLink("Adicionar ao Carrinho", "AddCarrinho", new { id = item.Id })

            </td>
            @if (@HttpContext.Current.User.Identity.Name == "evaldo.joaoj@hotmail.com")
            {
                <td>
                    | @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            }
        </tr>

    }

</table>

